*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--bg-color: #121212FF;
	--bg-null: #12121200;
	--white: #ffffff;
	--light: #ffffff66;
}

body{
	background-color: #121212;
}

.section h1{
	color: var(--white);
}