body{
	background-color: var(--bg-color); 
}

#header{
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	align-items: center;
	margin-top: 40px;
}

#header .logo, #header .menu{
	color: var(--white);
}

#header .logo{
	margin-left: 2%;
}

#header .menu{
	margin-right: 2%;
}

/*------------------------------*/

#main{
	width: 100%;
	height: calc(100vh - 120px);
	margin-top: 20px;
}

#main .wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#main .info{
	width: 100%;
	flex-basis: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--white);
}

#main .about{
	margin: 0 2%;
	flex-basis: 50%;
}

.about .name, .about .job, .about .motivation{
	margin: 20px 0;
}

.about .name{
	font-size: 20px; 
	letter-spacing: 3px;
}

.about .job{
	font-weight: 800; 
	font-size: 2vw;
}

.about .motivation{
	font-weight: bold;
	font-size: 1.4vw; 
}

.about .links{
	margin-top: 60px;
}

.links a{
	padding: 10px 20px;
	border: 1px solid white;
	margin: 0 10px;
}

.info .bg-img{
	margin-right: 2%; 
	height: 100%;
	flex-basis: 50%;
	background: linear-gradient(180deg, var(--bg-null), var(--bg-color) 95%),
				url('../assets/images/franklin.png') no-repeat;
	background-size: cover;
}

#main .head-footer{
	flex-basis: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	align-items: center;
	margin: 0 2%;
}

.head-footer .scroll-icon a{
	padding: 10px 8px 6px 8px;
	border: 1px solid white;
	border-radius: 10px;
}