nav{
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	align-items: center;
	position: fixed; 
	margin-top: 5vh;
	z-index: 100;   
}

.logo{
	margin-left: 5vw;   
}

.logo img{
	width: 140px;
	height: auto;
}

.menu{
	color: var(--white);
	margin-right: 5vw; 
	font-size: 2.5rem; 
	font-weight: bold;
}


/*-------------------section 1---------------------*/


#home{
	position: relative;
}


.home_wrapper{ 
	position: absolute;
	top: calc(5vh + 50px);
	width: 100%;
	height: calc(100vh - (5vh + 50px));
}

.info{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: calc(100vh - (6vh + 100px));
}

.info .about{
	flex-basis: 50%;
	width: 100%;
	height: 100%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	color: var(--white);
}

.about .name{
	font-size: 20px; 
	letter-spacing: 3px;
	margin: 20px 0;
}

.about .job{
	font-weight: 800; 
	font-size: 2vw;
	margin-bottom: 20px;
}

.about .motivation{
	font-weight: bold;
	font-size: 1.4vw; 
}

.about .links{
	margin-top: 60px;
}

.links a{
	padding: 10px 20px;
	border: 1px solid var(--white);
	margin: 0 10px;
	text-decoration: none;
	color: var(--white);
}

.info .bg-img{
	flex-basis: 50%;
	width: 100%;
	height: 100%;
	margin-right: 5%; 
	background: linear-gradient(180deg, var(--bg-null), var(--bg-color) 150%),
				url('../assets/images/franklin.png') no-repeat;
	background-size: cover;
}

.head-footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	align-items: flex-end;
	margin: 0 5%;
}

.head-footer i{
	font-size: 1.7rem;
}

.head-footer i:hover{
	transform: scale(1.2);
}

.head-footer .scroll-icon span{
	color: var(--light);
	padding: 10px 8px 6px 8px;
	border: 1px solid var(--light);
	border-radius: 10px;
}

.scroll-icon i{
	font-size: 0.9rem !important;  
}

.mail a{
	text-decoration: none;
	color: var(--white);
}

.icon-fb-git-lkd a{
	color: var(--white);
	text-decoration: none; 
	margin: 0 10px;
}

.icon-fb-git-lkd .lk{
	margin-right: 0px !important;
}


/*-------------------section 2---------------------*/


#xp{
	position: relative;
}

.xp_wrapper{ 
	position: absolute;
	top: calc(5vh + 50px);
	width: 100%;
	height: calc(100vh - (5vh + 50px));
/* 	background-color: yellow;  */
}

.xp_inner{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: calc(100vh - (6vh + 100px));
}

.xp_inner .school{
	flex-basis: 50%;
	width: 100%;
	height: 100%;
	margin-left: 5%;
	color: var(--white);
/* 	background-color: red;  */
}

.xp_inner .xp_pro{
	flex-basis: 50%;
	width: 100%;
	height: 100%;
	margin-right: 5%;
	color: var(--white);
/* 	background-color: green; */
}

.xp_links{
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	align-items: flex-end;
	margin: 0 5%;
}